@pleesher-border-radius:20px;
@pleesher-achievement-bar-bg-earned:#d9e8f3;
@pleesher-achievement-bar-bg-unearned:#e4e4e4;
@pleesher-progress-front:#2d5f93;
@pleesher-progress-back:#969696;
@pleesher-showcase-bg:#d9e8f3;
@pleesher-showcase-hover-bg:#e4e4e4;
@pleesher-ranking-hover-bg:#d9e8f3;
@pleesher-completion-date-color:#7f7f7f;
@pleesher-heading-color:#696969;
@pleesher-border-color:#dddddd;
@pleesher-progress-inner-color:#ffffff;
@pleesher-showcase-remove-border:#2d5f93;

.pleesher-progress {
	vertical-align:middle;
	display:inline-block;
	height:28px;
	width:100%;
	background-color:@pleesher-progress-back;
	overflow:hidden;
	position:relative;
	.pleesher-progress-inner {
		max-width:100%;
		height:28px;
		background-color:@pleesher-progress-front;
	}
	.pleesher-progress-text-fixed-left {
		position:absolute;
		top:4px;
		left:10px;
		color:@pleesher-progress-inner-color;
	}
	.pleesher-progress-text-fixed-right {
		position:absolute;
		top:4px;
		right:10px;
		color:@pleesher-progress-inner-color;
	}
	a,
	a:visited,
	a:focus,
	a:hover,
	.mw-body a.extiw:visited,
	.mw-body a.external:visited,
	.main-content a:visited:not(.new) {
		color:@pleesher-progress-inner-color !important;
		text-decoration:underline;
	}
}
.pleesher-kudos {
	text-align:center;
	line-height:1;
	margin-top:10px;
	margin-bottom:2.5em;
	> .pleesher-kudos-big {
		font-size:2.5em;
	}
	> .pleesher-kudos-small {
		font-size:1.1em;
	}
}
.pleesher-liquigoals-title {
	color:@pleesher-heading-color;
	font-size:2em;
	text-align:center;
	margin-top:1.5em;
}
.pleesher-liquigoals {
	@media(min-width:768px) {
		border:1px solid @pleesher-border-color;
		padding:30px;
	}
	.pleesher-liquigoals-title {
		font-size:1.7em;
		text-align:left;
	}
}
.pleesher-professions {
	margin-top:20px;
	.pleesher-profession {
		width:48%;
		float:left;
		&:nth-of-type(2n) {
			float:right;
		}
		&:not(:last-of-type) {
			margin-bottom:1em;
		}
		&:nth-of-type(2n+1):last-of-type {
			float:none;
			margin-left:auto;
			margin-right:auto;
		}
		@media(max-width:767px) {
			width:100%;
			float:none;
		}
	}
	&:after {
		content:" ";
		display:block;
		clear:both;
	}
}
.pleesher-showcase {
	text-align:center;
	margin-top:20px;
	.pleesher-showcase-item {
		vertical-align:top;
		margin-left:5px;
		margin-right:5px;
		margin-bottom:15px;
		display:inline-block;
		background-color:@pleesher-showcase-bg;
		padding:5px;
		width:100px;
		.pleesher-showcase-item-icon {
			background-image:url(./gfx/lp_logo.png);
			width:90px;
			height:90px;
			background-position:center center;
			background-repeat:no-repeat;
			.pleesher-showcase-item-icon-remove {
				background-color:#ffffff;
				width:25px;
				height:25px;
				display:block;
				float:right;
				text-align:center;
				line-height:23px;
				border:1px solid @pleesher-showcase-remove-border;
				margin-right:-4px;
				margin-top:-4px;
			}
		}
	}
}
.pleesher-goal {
	border-radius:@pleesher-border-radius;
	padding:0 15px 10px;
	margin-bottom:15px;
	&.pleesher-goal-earned {
		background-color:@pleesher-achievement-bar-bg-earned;
	}
	&.pleesher-goal-unearned {
		background-color:@pleesher-achievement-bar-bg-unearned;
	}
	@media(min-width:768px) {
		.pleesher-table {
			display:table;
			width:100%;
			> .pleesher-row {
				display:table-row;
				> .pleesher-cell {
					display:table-cell;
					vertical-align:top;
					&.pleesher-cell-logo {
						width:100px;
					}
					&.pleesher-cell-kudos {
						width:100px;
					}
				}
			}
		}
	}
	@media(max-width:767px) {
		.pleesher-table {
			width:100%;
			> .pleesher-row {
				position:relative;
				> .pleesher-cell {
					vertical-align:top;
					&.pleesher-cell-logo {
						width:100px;
						position:absolute;
						top:0;
						left:0;
					}
					&.pleesher-cell-kudos {
						width:100px;
						position:absolute;
						top:0;
						right:0;
					}
					&.pleesher-cell-main {
						padding-top:65px;
					}
				}
			}
		}
	}
	.pleesher-liquipedia-logo {
		background-image:url(./gfx/lp_logo.png);
		width:75px;
		height:75px;
		background-position:center center;
		background-repeat:no-repeat;
		margin-right:5px;
	}
	.pleesher-checkmark {
		background-image:url(./gfx/checkmark.png);
		width:13px;
		height:13px;
		background-position:center center;
		background-repeat:no-repeat;
		display:inline-block;
		margin-left:5px;
	}
	.pleesher-achievement {
		margin-top:5px;
		.pleesher-achievement-title {
			font-size:1.5em;
			font-weight:bold;
		}
		.pleesher-achievement-description {
		}
		.pleesher-achievement-progress {
			line-height:18px;
			.pleesher-progress {
				width:500px;
				max-width:100%;
				height:18px;
				margin-right:5px;
				@media(max-width:767px) {
					width:100%;
				}
				.pleesher-progress-inner {
					max-width:100%;
					height:18px;
				}
			}
			.pleesher-progress-text {
				white-space:nowrap;
				display:inline-block;
			}
		}
		.pleesher-achievement-revoke {
		}
		.pleesher-achievement-date {
			font-style:italic;
			color:@pleesher-completion-date-color;
		}
	}
	.pleesher-kudos {
		float:right;
		margin-bottom:0;
		> .pleesher-kudos-small {
			text-transform:uppercase;
		}
	}
	.pleesher-heading {
		color:@pleesher-heading-color;
	}
}
.pleesher-logo-wrapper {
	margin-top:40px;
	.pleesher-logo {
		background-image:url(./gfx/pleesher.png);
		width:126px;
		height:36px;
		background-position:center center;
		background-repeat:no-repeat;
		display:inline-block;
		margin-right:10px;
		vertical-align:middle;
	}
}
.liquigoalsTable {
	width:100%;
	> thead > tr > th {
		color:@pleesher-heading-color;
		font-size:85%;
		text-align:left;
	}
	> tbody > tr:hover {
		background-color:@pleesher-ranking-hover-bg;
	}
}
.pleesher-admin-block {
	padding:5px; 
	background-color:#f0f0f0;
	margin-bottom: 10px;
	.pleesher-admin-block-title {
		font-weight: bold;
	}
	.pleesher-admin-block-title-bad {
		a {
			color: #cc3333;
		}
	}
	.pleesher-admin-block-title-good {
		a {
			color: #33aa33;
		}
	}
}
.pleesher-loading {
	vertical-align: bottom; 
	background-image: url(./gfx/loading.gif); 
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 22px;
}
#toast-container {
	> .toast {
		-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
		box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
		opacity:1;
		border-radius:0;
		padding:0 0 0 50px;
		&:hover {
			-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.4);
			box-shadow:0 5px 10px rgba(0, 0, 0, 0.4);
		}
		> .toast-title {
			margin:0;
			padding:8px 14px;
			font-size:11pt;
			background-color:#f7f7f7;
			border-bottom:1px solid #ebebeb;
			border-radius:-1px -1px 0 0;
			color:#000000;
		}
		> .toast-message {
			padding:9px 14px;
			background-color:#ffffff;
			color:#000000;
			a {
				color:#666666;
				text-decoration:underline;
			}
		}
	}
	> .toast-success {
		background-position:13px center;
	}
}